$border-color: #e5e5e5;
h2,h3,h4,h5,h6,b{
  font-weight: 100;
}
.bai{
  height:.57rem;
}
header {
  height: .44rem;
  @include flexbox(flex);
  @include box-sizing(border-box);

  @include border(0 0 1px 0, #d9d9d9);
  color:#ff7b50;
  > div {
    font-size: .2rem;
    color: #ff6e40;
    text-align: center;
    line-height: .44rem;
    width: .62rem;
    &:first-child {

    }
    &:nth-child(2) {
      >img{
        height: .5rem;
      }
      @include flex(1);
    }
    &:last-child {


    }
  }

}
  .m-index {
    position: relative;
    width: 100%;
    height: 100%;
    @include flexbox(flex);
    @include flex-direction(column);

    .box0{

      @include flex(1);
      width: 100%;
      overflow: hidden;
    }
    #banner {

      height:1.88rem;
      overflow: hidden;
      background: yellow;
      .swiper-container{
        height:1.88rem;
        .swiper-wrapper{
          height:1.88rem;
          .swiper-slide{
            height:1.88rem;
            img{
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    nav {
      background: #fff;
      height: .77rem;
      color: #ff6e40;
      ul {

        height: 100%;
        @include box-sizing(border-box);

        @include flexbox(flex);
        @include border(0 0 1px 0, #d9d9d9);
        padding-top: .08rem;
        padding-left: .29rem;
        li {

          i {

            margin-left: .03rem;
            font-size: .2rem;
            line-height: .43rem;
            height:0.43rem;
            width:0.43rem;
            display: block;
            @include box-sizing(border-box);
            border-radius:50%;
            border:1px solid #ff6e40;
            text-align: center;
          }
          b{
            font-size: .10rem;
            display: block;
            width: .5rem;
            height:.22rem;
          }
          @include flex(1);

          text-align: center;
          line-height: .26rem;

        }
      }
    }
    #shop {

      @include flex(1);
      width: 100%;
      overflow: hidden;

      .shop1 {
        width: 100%;
        @include flexbox(flex);
        margin-top: .1rem;
        li {


          @include box-sizing(border-box);
          &:nth-child(2) {
            @include flex(1);
            background: #fff;
            img{
              width: 100%;
            }

          }
          &:nth-child(1),&:nth-child(3) {
            width: .1rem;
          }

        }
      }
      h2{
        @include border(0 0 1px 0, #aaa);
        line-height: .5rem;
      }
      .shop2 {
        width: 100%;
        @include flexbox(flex);
        margin-top: .1rem;
        li {

          @include box-sizing(border-box);
          &:nth-child(2),&:nth-child(4) {
            background: #fff;
            @include flex(1)

            img{
              width: 100%;
            }

          }
          &:nth-child(1),&:nth-child(3),&:nth-child(5) {
            width: .1rem;
          }

        }
      }
      .shop3 {
        li {
          position: relative;
          color:#4e4e4e;
          font-size: .12rem;
          &:nth-child(2),&:nth-child(4) {
            border-bottom: 3px solid #ff7346;
            h5{
              color:#ff8f6c;
            }
            i{
              text-decoration: line-through;
            }


            b{
              color: #ff8f6c;
              font-size: .14rem;
              line-height: .26rem;
            }
            span{
              position: absolute;
              right: .03rem;
              bottom: 0rem;
              color:#ffbca6;
              font-size: .4rem;
            }
          }
        }
      }
    }
    footer {
      background: #fcf9f2;
      position: absolute;
      bottom: 0rem;
      width: 100%;
      height: .57rem;
      ul {
        width: 100%;
        height: 100%;
        @include flexbox(flex);
        @include box-sizing(border-box);
        @include border(1px 0 0 0, #cbd7cc);
        li {
          @include flex(1);
          i,b {
            display: block;
            text-align: center;
            font-size: .12rem;
            color: rgba(0,0,0,.6);
          }
          i {
            font-size: .21rem;
            height: .32rem;
          }

          &.active i,
          &.active b {
            color: #ff6e40;
          }
        }
      }
    }
  }
