.m-index {
  >.m-index-body{
      >spa-view{
          .sort{
            width:100%;
            height: 100%;
            @include flexbox(flex);
            @include flex-direction(column);
            >header{
              position: relative;
              width:100%;
              height:.52rem;
              background-color: #ff6000;
              text-align: center;
              color: rgba(255,255,255,.8);
              line-height: .52rem;
              font-size: .2rem;
              >span{
                position: absolute;
                right: 0;
                float: right;
                width:.6rem;
                text-align: center;
                font-size: .35rem;
              }

            }
            >section{
              @include flex(1);
              @include flexbox(flex);
              width:100%;
              height:100%;
              >div{
                &:nth-of-type(1){
                  width:1.05rem;
                  height:100%;
                  >ul{
                    width: 100%;
                    li{
                      width:100%;
                      list-style: none;
                      height:.59rem;
                      line-height: .59rem;
                      text-align: center;
                      color: #909090;
                      font-size: .15rem;
                      @include border(0 0 1px 0,#fff);
                    }
                    .active{
                      background-color: #fff;
                      color:#ff6c14;
                    }
                  }
                }
                &:nth-of-type(2){
                  @include flex(1);
                  @include flexbox(flex);

                  @include flex-wrap(wrap);
                    height:100%;
                    background-color: #fff;

                    >dl{

                      height:1.2rem;
                      width:.89rem;
                      >dt{
                        width:100%;
                        padding:.05rem;
                        @include box-sizing(border-box);
                        img{
                          width:100%;
                        }
                      }
                      >dd{
                        width:100%;
                        height:.3rem;
                        font-size: .15rem;
                        text-align: center;
                        line-height: .3rem;
                      }
                    }
                }
              }
            }

          }








      }
  }
}
